{% extends 'base.html.twig' %}

{% block title %}Les produits
{% endblock %}

{% block body %}
	<div class="bg-light p-3">
		<h3>Liste des produits disponibles :
		</h3>
	</div>

	<div class="row">
		{% for product in products %}
			<div class="col-md-4 mt-4">
				<div class="border border-success bg-light rounded p-2 clearfix">
					<h4 class="m-2">
						{{ product.title }}
						<br/>
						<span class="text-white bg-success p-1 rounded align-center" width="50%">{{ product.price }}
							Dhs
						</span>
					</h4>
					<img class="img-fluid rounded" src="{{ asset(product.image) }}" alt="Image de {{ product.title }}">
					<hr>
					<a href="{{ path("panier_add" ,{id : product.id}) }}" class="btn btn-success float-right">
						<i class="fas fa-shopping-cart mr-1"></i>
						Visualiser les Détails
					</a>
				</div>

			</div>
		{% endfor %}
	</div>
{% endblock %}
