<div class="bg-light p-3">
	<h3>Liste des produits disponibles:
	</h3>
</div>
<div class="row">
	{% for product in products %}
		<div class="col-md-4 mt-4">
		<a href="{{ path("product_show",{slug : product.slug})}}">
			<div class="border border-success bg-light rounded p-2 clearfix">
				<h5 class="m-2">
					{{ product.title | slice(0,17) ~ '...' }}
					<br/>
					<span class="text-success p-1 align-center mt-2" width="50%">{{ product.price }}
						Dhs
					</span>
				</h5>
				<img class="img-fluid rounded" src="{{asset(product.images[0].path)}}" alt="Image de {{ product.title }}">
				<hr>
				<a href="{{ path("panier_add" ,{id : product.id}) }}" class="btn btn-success float-right">
					<i class="fas fa-shopping-cart mr-1"></i>
					Ajouter
				</a>
			</div>
          </a>
		</div>
	{% endfor %}


</div>
